/* styles.css */
 
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background for contrast */
}
 
 
header {
    background-color: rgb(28, 139, 170);
    padding: 20px;
    text-align: center;
}
 
h1 {
    background-color: white;
}
 
.site-nav {
    position: relative;
    background: #740303;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
}
 
.hamburger {
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: auto;
}
 
.hamburger .bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #fff;
}
 
.topnav.show {
    display: flex;
    flex-direction: column;
}
 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #faf7f7;
    overflow: hidden;
    justify-content: flex-start;
  }
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #0b0b0b;
    text-align: left;
    padding: 10px;
    text-decoration: black;
    font-size: 15px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #676262;
    color: white;
  }
 
/* Form Styles */
form {
    background-color: white;
    padding: 40px 35px; 
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
 
form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
 
form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form textarea {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border: 2px solid #0a0a0a;
    border-radius: 8px;
}
 
form input[type="submit"] {
    background-color: #05431a; /* Button color */
    border-radius: 20px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: 22px 14px;
    font-size: medium;
    font-weight: bold;
}
 
form input[type="submit"]:hover {
    background-color: rgb(57, 56, 56); /* Hover color for button */
}
 
/* Footer Styles */
footer {
    background-color: #303030; /* Footer color */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
 
@media screen and (max-width: 768px) {
    .site-nav{
        text-align: center;
    }
 
    .topnav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        padding-top: 10px;
    }
 
    .topnav a {
        display: block;
        padding: 10px 0;
    }
}
 
.error-message {
    color: red;
    font-style: italic;
}
 